.rsm {
	path, circle, g {
		outline: none;
		&:focus {
			outline: none;
		}
	}
	&-wrapper {
		background-color: crimson;
	}
	&-zoomable-group {
		@include will-change(transform);
		@extend %anim-base;
	}
}