.map {
	&__range {
		@include position(absolute, null $base-spacing $base-spacing null);
		pointer-events: none;
		&-wrapper {
			max-width: 105px;
			pointer-events: initial;
			&:first-of-type {
				transform-origin: bottom right;
				transform: rotate(270deg) translate(100%, 0);
			}
			&:last-of-type {
				transform: translate(-($sz-control*2), 0);
			}
		}

		input[type=range] {

			// resetting default styles
			-webkit-appearance: none;
			width: 100%;
			background: transparent;

			&:focus {
				// resetting default styles
				outline: none;
			}

			&::-webkit-slider-thumb {
				// resetting default styles
				-webkit-appearance: none;

				// applying new for chrome
				border: 1px solid $c-marker;
				@include size($sz-control*2);
				border-radius: $sz-control;
				cursor: pointer;
				background-color: white;
				position: relative;
				top: -$sz-control;
				@include will-animate(border, background-color);
				&:hover, &:focus {
					border: 1px solid white;
					background-color: $c-marker;
				}
			}
			&::-moz-range-thumb {
				// applying new for firefox
				border: 1px solid $c-marker;
				@include size($sz-control*2);
				border-radius: $sz-control;
				background-color: white;
				cursor: pointer;
			}
			&::-ms-track {
				// resetting default styles for IE
				width: 100%;
				cursor: pointer;
				background: transparent;
				border-color: transparent;
				color: transparent;
			}

			&::-ms-thumb {
				border: 1px solid $c-marker;
				@include size($sz-control*2);
				border-radius: $sz-control;
				background-color: white;
				cursor: pointer;
			}
			&::-webkit-slider-runnable-track {
				@include size(100% 2px);
				cursor: pointer;
				background: $c-marker;
				border: 1px solid white;

			}
			&:focus {
				&::-webkit-slider-runnable-track {
					background: $c-marker;
				}
			}
			&::-moz-range-track {
				@include size(100% 2px);
				cursor: pointer;
				background: $c-marker;
				border: 1px solid white;

			}
			&::-ms-track {
				@include size(100% 2px);
				cursor: pointer;
				background: transparent;
				border-color: transparent;
				border-width: $sz-control*2 0;
				color: transparent;
			}

			&::-ms-fill-lower {
				background: $c-marker;
				border: 1px solid white;
			}

			&:focus {
				&::-ms-fill-lower {
					background: $c-marker;
				}
			}

			&::-ms-fill-upper {
				background: $c-marker;
				border: 1px solid white;
			}

			&:focus {
				&::-ms-fill-upper {
					background: $c-marker;
				}
			}
		}
	}
}