.map {
	&__reset {
		$circle-size: $sz-control * 2;
		@include position(absolute, 50% null null 50%);
		@include size($sz-compass-middle $circle-size);
		@include margin((-($circle-size/2) null null (-($sz-compass-middle/2))));
		&-btn {
			text-align: center;
			@include size($circle-size);
			max-width: $circle-size;
			cursor: pointer;
			box-sizing: border-box;
			border-radius: 50%;
			cursor: pointer;
			@include will-animate(border, background-color);
			img {
				@include size(100% auto);
				display: block;
			}

			&.to-myplace {
				background-color: transparent;
				border: 1px solid white;
				position: relative;
				@include position(absolute, 50% null null 50%);
				@include margin((-($circle-size/2)) null null (-($circle-size/2)));
				&:after {
					@include size($sz-control);
					@include position(absolute, 50% null null 50%);
					content: '';
					display: block;
					@include margin((-($sz-control/2)) null null (-($sz-control/2)));
					background-color: white;
					border-radius: 50%;
					@include will-animate(transform, background-color);
				}
				&:hover {
					border: 1px solid $c-marker;
					background-color: rgba(255, 255, 255, 0.9);
					&:after {
						transform: rotate3d(1, 0, 0, 180deg);
						background-color: $c-marker;
					}
				}
			}
			&.to-gmap {
				// todo remove completely later
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				img {
					@include will-animate(transform);
					transform: rotate3d(1, 0, 0, 180deg);
				}
				&:hover {
					img {
						transform: rotate3d(1, 0, 0, 0deg);
					}
				}
			}

			&.to-map {
				@include position(absolute, 50% null null ($circle-size * 0.4));
				@include margin((-($circle-size/2)) null null null);
				span {
					@include will-animate(transform, color, background-color);
					transform: rotate(0);
					color: white;
					background-color: transparent;
					font-weight: bold;
					line-height: $circle-size + 3px;
					font-size: $circle-size;
					display: inline-block;
					@include size($circle-size);
					border-radius: $circle-size/2;
				}
				&:hover {
					span {
						transform: rotate(-360deg);
						color: $c-marker;
						background-color: white;
					}
				}
			}
		}
	}
}