.map {
	&__zoom {
		@include size($sz-controls/2);
		@include position(absolute, 50% null null 50%);
		@include margin((-($sz-controls/4)) null null (-($sz-controls/4)));
		border: 1px solid white;
		border-radius: $sz-controls/4;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;

		&-btn {
			//background-color: $c-marker;
			color: white;
			text-align: center;
			width: 100%;
			cursor: pointer;
			&:first-of-type {

			}

			&:last-of-type {

			}
			span {
				display: inline-block;
				@include will-change(color, transform, background-color, border);
				@extend %anim-base;
				background-color: transparent;
				line-height: $sz-control * 2;
				@include size($sz-control * 2);
				font-size: $sz-control*2;
				border-radius: 50%;
				border: 1px solid transparent;
				box-sizing: content-box;
			}
			&:hover {
				span {
					//transform: rotate3d(1, 0, 0, 180deg);
					color: $c-marker;
					background-color: white;
					border: 1px solid $c-marker
				}
			}
		}
	}
}