.map {
	&__zoom {
		@include size($sz-compass-middle);
		@include position(absolute, 50% null null 50%);
		@include margin((-($sz-compass-middle/2)) null null (-($sz-compass-middle/2)));
		border: 1px solid white;
		border-radius: $sz-compass-middle/2;
		&-btn {
			//background-color: $c-marker;
			@include size($sz-control * 2);
			margin-left: -($sz-control);
			cursor: pointer;
			background-color: transparent;
			border-radius: 50%;
			@include will-animate(background-color);

			&:first-of-type {
				@include position(absolute, 3px null null 50%);
			}

			&:last-of-type {
				@include position(absolute, null null 3px 50%);
			}
			span {
				display: inline-block;
				@include will-animate(color, transform, background-color, border);
				@include position(absolute, 50% null null 50%);
				transform: translate(-50%, -50%);
				background-color: transparent;
				color: white;
				border-radius: 50%;
				font-size: $sz-control * 2;
				line-height: $sz-control * 2;
			}
			&:hover {
				background-color: white;
				span {
					//transform: rotate3d(1, 0, 0, 180deg);
					color: $c-marker;
				}
			}
		}
	}
}