$base-spacing:                  10px;
$duration:                      300ms;
$bd-radius:                     5px;
$tr-duration:                   $duration;
$tr-letters:                    3px;
$c-light:                       #ffffff;
$c-border:                      #d8d8d8;


$c-country: #333333;
$c-water: #0d5469;
$c-border: #555;
$c-marker: rgba(251,0,181, 1);
$c-marker-stroke: rgba(251,0,181, 0.5);
