.rsm {
	&-marker {
		cursor: pointer;
		circle {
			@include will-change(fill, transform, stroke-width, stroke);
			@extend %anim-base;
			fill: $c-marker;
			stroke: $c-marker-stroke;
			stroke-width: 0px;
			r: 1px;
		}
		&-text {
			display: inline-block;
			@include will-change(transform, opacity);
			@extend %anim-base;
			transform: translate3d(-50%, 0, 0);
			font-size: 3px;
			opacity: 0;
			fill: white;
		}
		&:focus, &:hover {
			circle {

				stroke-width: 4px;

			}
			.rsm-marker-text {
				opacity: 1;
				transform: translate3d(-50%, -110%, 0);
			}
		}
	}
}