.rsm {
	&-annotation {
		&-text {
			display: inline-block;
			@include will-animate(transform, opacity);
			fill: white;
			font-size: 4px;
			transform: scale(0);
			opacity: 0;
			&.active {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}