.rsm {
	path, circle, g {
		outline: none;
		&:focus {
			outline: none;
		}
	}
	&-wrapper {
		background-color: crimson;
	}
	&-zoomable-group {
		@include will-animate(transform);
	}
	&-map {
		&__wrapper {
			position: relative;
		}
	}
}